<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="Login Activity" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="Registration Activity" />
        <activity
            android:alwaysRetainTaskState="true"
            android:name=".Activities.HomeActivity"
            android:label="home_activity" />
        <activity
            android:name=".Activities.SearchResultsActivity"
            android:label="Search Results" />
        <activity
            android:name=".Activities.CarShareDetailsActivity"
            android:label="Car Share Details" />
        <activity
            android:name=".Activities.PostNewCarShareActivity"
            android:label="New Car Share" />
    </application>

</manifest>
